dataPre/KingBase2019/KingBase2019_meta.sqlite
dataPre/KingBase2019/KingBase2019_meta.xml
dataPre/KingBase2019/KingBase2019-01.zip
dataPre/KingBase2019/KingBase2019-02.zip
dataPre/KingBase2019/KingBase2019-cbv.zip
dataPre/KingBase2019/KingBase2019-pgn.zip
dataPre/KingBase2019/KingBase2019-scid.zip
dataPre/KingBase2019/kingCleanPre.pgn
dataPre/KingBase2019/KingBase2019-01/KingBase2019-01.pgn
dataPre/KingBase2019/KingBase2019-02/KingBase2019-02.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-A00-A39.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-A40-A79.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-A80-A99.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-B00-B19.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-B20-B49.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-B50-B99.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-C00-C19.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-C20-C59.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-C60-C99.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-D00-D29.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-D30-D69.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-D70-D99.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-E00-E19.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-E20-E59.pgn
dataPre/KingBase2019/KingBase2019-pgn/KingBase2019-E60-E99.pgn
